.ForgotPasswords {
  background-color: #e4e6eb;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.ForgotPassword {
  border-radius: 10px;
  background-color: #fff;

  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}

.ForgotPassword-p {
  border-bottom: 1px solid #555;
  width: 100%;
  border-top: 1px solid #555;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
    

}
.ForgotPassword-button {
  display: flex;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

 
}s
.ForgotPassword-h3{
  padding-left: 10px;
}
.ForgotPassword-p1{
   padding-bottom: 18px;

}

.delete{
  margin-left: 10px ;
}